#! /bin/sh

echo "Syncing local mirror"
echo "--------------------"

rsync -a --bwlimit=9M --delete --delete-excluded \
  --exclude '/home/**/tmp' \
  --exclude '/home/*/.asdf' \
  --exclude '/home/*/.cache' \
  --exclude '/home/*/.cargo' \
  --exclude '/home/*/.rvm' \
  --exclude '/home/*/.rustup' \
  --exclude '/home/*/dev/*/target' \
  /root /home /etc \
  /srv/mirror

echo "Running offsite backup"
echo "----------------------"

if ! test -e /root/.passphrase; then
    echo "Backup passphrase missing from /root/.passphrase" 1>&2
    exit 1
fi

dupe="/usr/local/bin/duplicity --name holly --archive-dir /srv/duplicity-archive"
target="{{backup_target}}"

read PASSPHRASE < /root/.passphrase
export PASSPHRASE

if $dupe \
    --tempdir /var/tmp \
    --full-if-older-than 1M \
    --include /root \
    --exclude '/home/**/tmp' \
    --exclude '/home/*/.cache' \
    --exclude '/home/*/.rvm' \
    --exclude '/home/*/.rustup' \
    --exclude '/home/*/dev/*/target' \
    --include /home \
    --include /etc \
    --exclude '**' \
    / $target
then
    # remove backups not needed for restores of files older than 2 months
    $dupe remove-older-than 2M --force $target
else
    echo "--------------"
    echo "Backup failed! Exit code: $?"
    echo "--------------"
fi
